Pod::Spec.new do |s|
  s.name     = 'AVOSCloudIM'
  s.version  = '{{{version}}}'
  s.homepage = 'https://leancloud.cn/'
  s.summary  = 'LeanCloud Swift IM SDK'
  s.authors  = 'LeanCloud'
  s.license  = {
    :type => 'Apache License, Version 2.0',
    :file => 'LICENSE'
  }

  s.platform = :ios, :osx

  s.ios.deployment_target = '7.0'
  s.osx.deployment_target = '10.9'

  s.source = {
    :git => "https://github.com/leancloud/objc-sdk.git",
    :tag => "#{s.version}"
  }

  s.source_files =
    {{{source_files}}}

  s.public_header_files =
    {{{public_header_files}}}

  all_exclude_files = []

  {{#exclude_files}}
  exclude_files =
    {{{exclude_files}}}

  all_exclude_files.concat Array(exclude_files)
  {{/exclude_files}}

  {{#non_arc_files}}
  non_arc_files =
    {{{non_arc_files}}}

  all_exclude_files.concat Array(non_arc_files)

  s.subspec 'no-arc' do |s|
    s.requires_arc = false
    s.source_files = non_arc_files
  end
  {{/non_arc_files}}

  s.ios.exclude_files = all_exclude_files
  s.osx.exclude_files = all_exclude_files

  {{#preserve_paths}}
  s.preserve_paths =
    {{{preserve_paths}}}
  {{/preserve_paths}}

  {{#xcconfig}}
  s.xcconfig = {{{xcconfig}}}
  {{/xcconfig}}

  s.dependency 'AVOSCloud', "#{s.version}"
end
