Pod::Spec.new do |s|
  s.name     = 'AVOSCloudCrashReporting'
  s.version  = '{{{version}}}'
  s.homepage = 'https://leancloud.cn/'
  s.summary  = 'LeanCloud Swift Crash Reporting SDK'
  s.authors  = 'LeanCloud'
  s.license  = {
    :type => 'Apache License, Version 2.0',
    :file => 'LICENSE'
  }

  s.platform = :ios

  s.ios.deployment_target = '7.0'

  s.requires_arc = false

  s.source = {
    :git => "https://github.com/leancloud/objc-sdk.git",
    :tag => "#{s.version}",
    :submodules => true
  }

  s.source_files =
    {{{source_files}}}

  s.public_header_files =
    {{{public_header_files}}}

  all_exclude_files = []

  {{#arc_files}}
  arc_files =
    {{{arc_files}}}

  all_exclude_files.concat Array(arc_files)

  s.subspec 'arc' do |s|
    s.requires_arc = true
    s.source_files = arc_files
  end
  {{/arc_files}}

  {{#preserve_paths}}
  s.preserve_paths =
    {{{preserve_paths}}}
  {{/preserve_paths}}

  s.exclude_files = all_exclude_files

  s.dependency 'AVOSCloud', "#{s.version}"
end
