Pod::Spec.new do |s|
  s.name     = 'AVOSCloudIM'
  s.version  = '{{{version}}}'
  s.homepage = 'https://leancloud.cn/'
  s.summary  = 'LeanCloud IM Objective-C SDK'
  s.authors  = 'LeanCloud'
  s.license  = {
    :type => 'Apache License, Version 2.0',
    :file => 'LICENSE'
  }

  s.platform = :ios, :osx

  s.ios.deployment_target = '7.0'
  s.osx.deployment_target = '10.9'

  s.source = {
    :git => "https://github.com/leancloud/objc-sdk.git",
    :tag => "#{s.version}"
  }

  {{#_ARC}}
  s.subspec '_ARC' do |ss|
    ss.requires_arc = true
    ss.dependency 'AVOSCloudIM/_NOARC', "#{s.version}"

    {{#source_files}}
    ss.source_files =
      {{{source_files}}}
    {{/source_files}}

    {{#public_header_files}}
    ss.public_header_files =
      {{{public_header_files}}}
    {{/public_header_files}}

    {{#exclude_files}}
    ss.exclude_files =
      {{{exclude_files}}}
    {{/exclude_files}}
  end
  {{/_ARC}}

  s.subspec '_NOARC' do |ss|
    ss.requires_arc = false

    ss.source_files =
      'AVOS/AVOSCloudIM/Protobuf/*.{h,m}',
      'AVOS/AVOSCloudIM/Commands/MessagesProtoOrig.pbobjc.{h,m}'

    ss.private_header_files =
      'AVOS/AVOSCloudIM/Protobuf/*.h',
      'AVOS/AVOSCloudIM/Commands/MessagesProtoOrig.pbobjc.h'

    ss.preserve_paths =
      'AVOS/AVOSCloudIM/Protobuf/google'

    ss.pod_target_xcconfig = {
      'HEADER_SEARCH_PATHS' => '"$(PODS_ROOT)/AVOSCloudIM/AVOS/AVOSCloudIM/Protobuf"'
    }
  end

  s.dependency 'AVOSCloud', "#{s.version}"

  s.libraries =
    'icucore'
end
