Pod::Spec.new do |s|
  s.name     = 'AVOSCloud'
  s.version  = '{{{version}}}'
  s.homepage = 'https://leancloud.cn/'
  s.summary  = 'LeanCloud Objective-C SDK'
  s.authors  = 'LeanCloud'
  s.license  = {
    :type => 'Apache License, Version 2.0',
    :file => 'LICENSE'
  }

  s.requires_arc = true

  s.source = {
    :git => "https://github.com/leancloud/objc-sdk.git",
    :tag => "#{s.version}"
  }

  s.ios.deployment_target     = '7.0'
  s.osx.deployment_target     = '10.9'
  s.tvos.deployment_target    = '9.0'
  s.watchos.deployment_target = '2.0'

  {{#Storage}}
  s.subspec 'Storage' do |ss|
    ss.platform = :ios, :osx, :tvos, :watchos

    ss.ios.deployment_target     = '7.0'
    ss.osx.deployment_target     = '10.9'
    ss.tvos.deployment_target    = '9.0'
    ss.watchos.deployment_target = '2.0'

    {{#source_files}}
    ss.source_files =
      {{{source_files}}}
    {{/source_files}}

    {{#public_header_files}}
    ss.public_header_files =
      {{{public_header_files}}}
    {{/public_header_files}}

    {{#osx_exclude_files}}
    ss.osx.exclude_files =
      {{{osx_exclude_files}}}
    {{/osx_exclude_files}}

    {{#watchos_exclude_files}}
    ss.watchos.exclude_files =
      {{{watchos_exclude_files}}}
    {{/watchos_exclude_files}}

    {{#resources}}
    ss.resources =
      {{{resources}}}
    {{/resources}}

    {{#xcconfig}}
    ss.xcconfig = {{{xcconfig}}}
    {{/xcconfig}}

    ss.ios.frameworks =
      'CFNetwork',
      'CoreGraphics',
      'CoreLocation',
      'CoreTelephony',
      'MobileCoreServices',
      'QuartzCore',
      'Security',
      'SystemConfiguration'

    ss.osx.frameworks =
      'CoreLocation',
      'CoreServices',
      'SystemConfiguration'

    ss.tvos.frameworks =
      'CFNetwork',
      'CoreGraphics',
      'CoreLocation',
      'MobileCoreServices',
      'QuartzCore',
      'Security'

    ss.watchos.frameworks =
      'CoreGraphics',
      'CoreLocation',
      'MobileCoreServices',
      'Security'

    ss.libraries =
      'icucore',
      'sqlite3',
      'z'
  end
  {{/Storage}}

  {{#IM}}
  s.subspec 'IM' do |ss|
    ss.platform = :ios, :osx

    ss.ios.deployment_target = '7.0'
    ss.osx.deployment_target = '10.9'

    {{#_ARC}}
    ss.subspec '_ARC' do |ss|
      ss.requires_arc = true
      ss.dependency 'AVOSCloud/IM/_NOARC', "#{s.version}"

      {{#source_files}}
      ss.source_files =
        {{{source_files}}}
      {{/source_files}}

      {{#public_header_files}}
      ss.public_header_files =
        {{{public_header_files}}}
      {{/public_header_files}}

      {{#exclude_files}}
      ss.exclude_files =
        {{{exclude_files}}}
      {{/exclude_files}}
    end
    {{/_ARC}}

    ss.subspec '_NOARC' do |ss|
      ss.requires_arc = false

      ss.source_files =
        'AVOS/AVOSCloudIM/Protobuf/*.{h,m}',
        'AVOS/AVOSCloudIM/Protobuf/google/protobuf/*.{h,m}',
        'AVOS/AVOSCloudIM/Commands/MessagesProtoOrig.pbobjc.{h,m}'

      ss.private_header_files =
        'AVOS/AVOSCloudIM/Protobuf/*.h',
        'AVOS/AVOSCloudIM/Protobuf/google/protobuf/*.h',
        'AVOS/AVOSCloudIM/Commands/MessagesProtoOrig.pbobjc.h'

      ss.preserve_paths =
        'AVOS/AVOSCloudIM/Protobuf/google'

      ss.pod_target_xcconfig = {
        'HEADER_SEARCH_PATHS' => '"$(PODS_ROOT)/AVOSCloud/AVOS/AVOSCloudIM/Protobuf"'
      }
    end

    ss.dependency 'AVOSCloud/Storage', "#{s.version}"

    ss.libraries =
      'icucore'
  end
  {{/IM}}

  {{#LiveQuery}}
  s.subspec 'LiveQuery' do |ss|
    ss.platform = :ios, :osx

    ss.ios.deployment_target = '7.0'
    ss.osx.deployment_target = '10.9'

    {{#source_files}}
    ss.source_files =
      {{{source_files}}}
    {{/source_files}}

    {{#public_header_files}}
    ss.public_header_files =
      {{{public_header_files}}}
    {{/public_header_files}}

    ss.dependency 'AVOSCloud/Storage', "#{s.version}"
    ss.dependency 'AVOSCloud/IM', "#{s.version}"
  end
  {{/LiveQuery}}

  s.default_subspecs =
    'Storage',
    'IM',
    'LiveQuery'
end
