Pod::Spec.new do |s|
  s.name     = 'AVOSCloud'
  s.version  = '{{{version}}}'
  s.homepage = 'https://leancloud.cn/'
  s.summary  = 'LeanCloud Objective-C SDK'
  s.authors  = 'LeanCloud'
  s.license  = {
    :type => 'Apache License, Version 2.0',
    :file => 'LICENSE'
  }

  s.platform = :ios, :osx, :tvos, :watchos

  s.ios.deployment_target     = '7.0'
  s.osx.deployment_target     = '10.9'
  s.tvos.deployment_target    = '9.0'
  s.watchos.deployment_target = '2.0'

  s.requires_arc = true

  s.source = {
    :git => "https://github.com/leancloud/objc-sdk.git",
    :tag => "#{s.version}"
  }

  {{#source_files}}
  s.source_files =
    {{{source_files}}}
  {{/source_files}}

  {{#public_header_files}}
  s.public_header_files =
    {{{public_header_files}}}
  {{/public_header_files}}

  {{#osx_exclude_files}}
  s.osx.exclude_files =
    {{{osx_exclude_files}}}
  {{/osx_exclude_files}}

  {{#watchos_exclude_files}}
  s.watchos.exclude_files =
    {{{watchos_exclude_files}}}
  {{/watchos_exclude_files}}

  {{#resources}}
  s.resources =
    {{{resources}}}
  {{/resources}}

  {{#xcconfig}}
  s.xcconfig = {{{xcconfig}}}
  {{/xcconfig}}

  s.ios.frameworks =
    'CFNetwork',
    'CoreGraphics',
    'CoreLocation',
    'CoreTelephony',
    'MobileCoreServices',
    'QuartzCore',
    'Security',
    'SystemConfiguration'

  s.osx.frameworks =
    'CoreLocation',
    'CoreServices',
    'SystemConfiguration'

  s.tvos.frameworks =
    'CFNetwork',
    'CoreGraphics',
    'CoreLocation',
    'MobileCoreServices',
    'QuartzCore',
    'Security'

  s.watchos.frameworks =
    'CoreGraphics',
    'CoreLocation',
    'MobileCoreServices',
    'QuartzCore',
    'Security'

  s.libraries =
    'icucore',
    'sqlite3',
    'z'
end
